@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.main{
    display: flex;
    justify-content: center;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    /* 1st Division */
.button{
    width: 40%;
    margin: 3px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 25px;
    outline: 0.1px solid yellowgreen;
    /* background-color: red; */
}
.but{
    background: rgb(206, 246, 6);
    font-size: 15px;
    margin-left: 150px;
    padding: 4px;
    border-radius: 10px;
    color: rgb(166, 83, 1);
}
.button h3{
    margin-top: 15px;
    color: rgb(166, 83, 1);
    font-family: Arial, Helvetica, sans-serif;
}
.button p{
    color: rgb(190, 4, 4);
    margin-top: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    
}


    /* 2nd Division */
.intro{
    text-align: center;
    width: 30%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
}
.intro h1{
    padding-top: 30px;
    text-align: center;
    font-size: 70px;
    text-align: center;
    color: rgb(223, 91, 9);
    font-family: Georgia, 'Times New Roman', Times, serif;    
}
.intro p{
    padding-top: 20px;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
.more{
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    background: rgb(206, 246, 6);
    color: rgb(166, 83, 1);
    margin: 15px 0px;
}

    /* 3rd Division */
.introimg{
    width: 30%;
    /* background-color: red; */
}
.img{
    width: 100%;
    height: 600px;
    border-radius: 200px;
    margin-top: 30px;
}